<div class="row" style="margin-left: 1px;">
  <form class="form-inline">
        <!-- Select Project Starts here -->
        <div class="form-group">
          <!--
          <input type="text" class="form-control" placeholder="Select Projects" data-toggle="modal" ng-click="showProjectModel()" data-target = "#project-model" data-whatever="@mdo" id="searchCheckBox" ng-model = "projectName">
          -->
          <multi-select data="projectsdata"></multi-select>
        </div>
        <!-- Select Project Ends here -->
        
        <!-- Search Starts here -->
        <div class="form-group input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
        </div>
        <!-- Search Ends here -->

        <!-- Sort Selectbox Starts here -->
        <div class="form-group">
          <select class="form-control" ng-change="toggleSort(sortBy)" ng-model="sortBy">
            <option value="DATESOLVED">Date</option>
            <option value="HETMOLRES">Compound</option>
            <option value="HETMOLTYPE">Ligands</option>
          </select>
          <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true" style="font-size: 24px;vertical-align: middle;cursor: pointer;" ng-click="sortDescending()"></span>
          <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true" style="font-size: 24px;vertical-align: middle;cursor: pointer;" ng-click="sortAscending()"></span>
        </div>
        <!-- Sort Selectbox Ends here -->
        
        <!-- Selectbox Starts here -->
        <select class="form-control">
          <option>All</option>
          <option>Protein</option>
          <option>Ligands</option>
          <option>Active Site residues</option>
          <option>Co-factors</option>
          <option>Water</option>
          <option>---</option>
          <option>2-D</option>
          <option>Interactions</option>
          <option>Fit to density</option>
          <option>Stereochemistry</option>
        </select>
        <!-- Selectbox Ends here -->    
        <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

        
      </form>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-sm-6 col-md-4" ng-repeat="compound in compounds
                      | orderBy:sortBy:sortOrder
                             | filter:searchText
                             | startFrom:(currentPage-1)*itemsPerPage
                             | limitTo:itemsPerPage">
    <div class="thumbnail"> 
      <h3>{{compound.STRUCID}}</h3>
      
        <!--<img src="{{compound.TWODIMG}}">-->
        <img ng-if="$index%3===1" src="images/compound1.gif">
        <img ng-if="$index%3===2" src="images/compound2.gif">
        <img ng-if="$index%3===0" src="images/compound3.gif">
      
    </div>
  </div>  
</div>
<div class="center-block">
  <div class="pagination" ng-show="(compounds | filter:searchText).length > itemsPerPage">
          <!-- angular-ui bootstrap pagination directive -->
        <div pagination
          total-items="(compounds | filter:searchText).length"
          items-per-page="itemsPerPage"
          num-pages="numPages"
          max-size="6"
          next-text=">"
          previous-text="<"
          page="currentPage">
        </div>
  </div>
</div>


